@model RecipeSharingApp.Models.Recipe

<h4>Instructions / Notes</h4>

<form method="post" action="/Recipe/AddInstruction">
    <input type="hidden" name="RecipeId" value="@Model.Id" />

    <textarea class="form-control" name="InstructionText" placeholder="Write instruction..." required></textarea>

    <button class="btn btn-primary mt-2">Add Instruction</button>
</form>

<hr />

<ul class="list-group">
    @foreach (var note in Model.Instructions)
    {
        <li class="list-group-item d-flex justify-content-between">
            @note.InstructionText

            <form method="post" action="/Recipe/DeleteInstruction">
                <input type="hidden" name="id" value="@note.Id" />
                <input type="hidden" name="recipeId" value="@Model.Id" />
                <button class="btn btn-danger btn-sm">X</button>
            </form>
        </li>
    }
</ul>
